body{
    background-color: #fffbf4;
}
p{
    font-size: 18px;
}
h2{
    font-size: 36px;
    font-weight: 500;
}
.bg-light-blue{
    background-color: #b1d8fc;
}
.bg-dark{
    background-color: #1b1b1b !important;
    color: white;
}
.sponsor{
    height: 56px;
}
.sponsor img{
    max-height: 30px;
}
.list-sponsors{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 24px;
}
.link-white{
    background-color: white;
    color: #1b1b1b;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 40px;
    border: 1px solid gray;
    transition: all 0.7s;
}
.link-white:hover{
    background-color: rgb(88, 88, 88);
    transition: all 0.7s;
    color: white;
}
.link-black{
    background-color: #1b1b1b;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 40px;
    border: 1px solid gray;
    transition: all 0.7s;
}
.link-black:hover{
    background-color: rgb(88, 88, 88);
    transition: all 0.7s;
}
.mini-cards-color .card{
    min-height: 300px;
}
.cards-color .card{
    height: 700px;
}
.cards-color .link-black{
    font-size: 15px;
}
.mini-cards-color .card h3{
    font-size: 20px;
}
.card-yellow{
    background-color: #ffe27c;
}
.card-light-blue{
    background-color: #C7E2FE;
}
.card-violet{
    background-color: #c4b1f9;
}
.card-pink{
    background-color: #FEF0D8;
}
.mini-cards-color::-webkit-scrollbar {
	width: 2px;
    height: 4px;
	background: rgb(207, 207, 207);
}
.mini-cards-color::-webkit-scrollbar-thumb {
	background: #868686;
	border-radius: 10px;
}
.img-blue .row{
    height: 200px;
}
.img-blue h1{
    font-size: 70px;
    font-weight: 700;
}
.img-blue p{
    font-size: 15px;
}
.img-blue img{
    height: 130px;
}